.lecturers{
    padding-top: 50px;
    max-width: 1200px;
    width: 100%;
}

.lecturers h1{
    color: #000;
    font-family: Lalezar;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 50px;
}

.ourlecturers-filters{
    display: flex;
    gap: 15px;
}

.ourlecturers-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #000;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lecturers .filter-btn{
    width: 100px;
    border-radius: 15px;
    background-color: #15374C;
    border: none;
    color: white;
    font-family: Open Sans;
    font-weight: 600;
}

.lecturers .cancel-text{
    background: linear-gradient(90deg, #15374C 0%, #1D4C69 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Lalezar;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}

.lecturers span.cancel-action{
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.lecturers a.cancel-action{
    color: #74C7D3;
    cursor: pointer;
}

.lecturers .filter-btn:hover{
    cursor: pointer;
}