*{
    text-decoration: none;
}

.hero{
    padding-top: 50px;
    max-width: 1200px;
    width: 100%;
}

.hero-main-text{
    width: 1200px;
    color: #000;
    font-family: Lalezar;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-image {
    padding-top: 50px;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.hero-btn-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 188px;
    height: 55px;
    border-radius: 15px;
    background: #74C7D3;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-btn-scnd{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #00384D;
    color: #00384D;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    box-sizing: border-box;
}

.hero-btns{
    position: absolute;
    display: flex;
    gap: 15px;
}

.hero-image img {
    clip-path: path("M1200 25C1200 11.1929 1188.81 0 1175 0H423C409.193 0 398 11.1929 398 25V58C398 71.8071 386.807 83 373 83H25C11.1929 83 0 94.1929 0 108V575C0 588.807 11.1929 600 25 600H1175C1188.81 600 1200 588.807 1200 575V25Z");
    height: 100%;
    width: 100%;
    object-fit: cover;
}