.aboutus {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 500px;
    padding-top: 100px;
}

.aboutus-main {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(90deg, #15374C 0%, #2F7098 99.99%, #15374C 100%);
    height: 402px;
    width: 100%;
    max-width: 1200px;
    clip-path: path("M0 15C0 6.71573 6.71574 0 15 0H613C621.284 0 628 6.71573 628 15V298C628 306.284 634.716 313 643 313H894C902.284 313 909 319.716 909 328V351C909 359.284 915.716 366 924 366H1185C1193.28 366 1200 372.716 1200 381V387C1200 395.284 1193.28 402 1185 402H15C6.71573 402 0 395.284 0 387V15Z");
}

.aboutus-main h2{
    padding-top: 50px;
    color: #74C7D3;
    font-family: Lalezar;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aboutus-main h2, .aboutus-main p{
    padding-left: 50px;
}

.aboutus-main p{
    width: 458px;
    height: 222px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aboutus-second {
    position: absolute;
    right: 0;
    width: 548px;
    height: 345px;
    background-image: linear-gradient(90deg, #00384D 2.37%, #2F7098 100%);
    clip-path: path("M281 15C281 6.71573 274.284 0 266 0H15C6.71573 0 0 6.71572 0 15V273C0 281.284 6.71572 288 15 288H265C273.284 288 280 294.716 280 303V330C280 338.284 286.716 345 295 345H533C541.284 345 548 338.284 548 330V68C548 59.7157 541.284 53 533 53H296C287.716 53 281 46.2843 281 38V15Z");
}

.aboutus-img{
    padding: 20px;
}

.aboutus-img2{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.aboutus-third{
    position: absolute;
    right: 0;
}

.aboutus-third a{
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    gap: 15px;
}