.ourlecturers{
    padding-top: 100px;
    max-width: 1200px;
    width: 100%;
}

.ourlecturers h2{
    color: #000;
    font-family: Lalezar;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ourlecturers-filters{
    display: flex;
    gap: 15px;
}

.ourlecturers-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #000;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}