@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found{
    min-height: 90vh;
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.not-found h1{
    background: linear-gradient(90deg, #15374C 0%, #1D4C69 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Lalezar;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.not-found p{
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.not-found a{
    color: #74C7D3;
    cursor: pointer;
}