.container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 500px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.left-column {
    flex: 1;
    justify-content: space-between;
}

.right-column {
    flex: 1;
}

.contact-item a {
    padding-left: 5%;
    font-family: "Open Sans";
    font-family: 15px;
    color: #15374C;
}

.additional-text {
    padding-top: 5%;
    margin-top: auto;
    width: 70%;
    font-family: "Open Sans";
    font-size: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rounded-image {
    border-radius: 20px;
    max-width: 100%;
}
