.contact{
    margin: 0 auto;
    font-family: Lalezar;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(90deg, #15374C 0%, #1D4C69 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 50px 0;
}